RAILS_ENV=production
RAILS_MASTER_KEY=PASTE_MASTER_KEY_HERE
RAILS_LOG_LEVEL=info
SECRET_KEY_BASE=CHANGE_ME_SECRET_KEY_BASE

POSTGRES_DB=pixelup_production
POSTGRES_USER=pixelup
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD

JWT_SIGNING_KEY=CHANGE_ME_LONG_RANDOM_SECRET

SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=CHANGE_ME_SIDEKIQ_PASSWORD

YOOMONEY_RECEIVER=PASTE_YOOMONEY_RECEIVER_HERE
YOOMONEY_NOTIFICATION_SECRET=PASTE_YOOMONEY_NOTIFICATION_SECRET_HERE

APP_BASE_URL=https://pixeltech.ru

FRONTEND_PORT=127.0.0.1:8080
